.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    width: 100%;
    background: #00a8cc;

}
.navbar nav {
    display: flex;
    gap:150px;
    text-decoration: none;
}
.menu-button{
    background-color: #00a8cc;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0.8rem 1.8rem;
    color: white;
}
.menu-button:hover{
    background-color: white;
    color: #00a8cc;
    border: 2px solid #00a8cc;
}